body {
  margin: 0;
  font-family: Arial;
  background: #0a1a2f;
  color: white;
}

header {
  padding: 20px;
}

.hero {
  height: 90vh;
  background: url("../images/hero-banner.jpg");

  background-size: cover;
  text-align: center;
  padding-top: 150px;
}

.hero a {
  padding: 12px 25px;
  background: #00bcd4;
  color: white;
  margin: 10px;
  text-decoration: none;
  border-radius: 5px;
}
